#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0;
}

:root {
  --primary-color: #504746;
  --secondary-color: #b89685;
  --primary-text-color: #111;
  --secondary-text-color: #fff;
  --headline-color: #393939;
  --inactive-text-color: #3939399d;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  height: 100vh;
}

.header {
  background-color: var(--primary-color, grey);
  padding: 5em;
}

.header__title {
  color: var(--secondary-text-color);
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    color: var(--primary-text-color);
  }
  100% {
    color: var(--secondary-text-color);
  }
}

.header__input {
  background-color: #fff;
  opacity: 0.5;
  text-decoration: none;
  border-radius: 1em;
  text-align: center;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1em;
}

.main {
  background: var(--secondary-color);
  padding: 2.5em;
  display: grid;
}

.main img {
  height: 285px;
}

.footer {
  background: var(--primary-color, grey);
  display: grid;
  padding: 3em;
}

.footer__link {
  text-decoration: none;
  color: var(--secondary-text-color);
}
